<ion-view title="At Risk Instructions" hide-nav-bar="true">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:100%;">
      <ion-slide-page style="background-color:#3F82F2;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 style="color:#FFFFFF;text-align:center;">WELCOME TO</h1>
              <div>
                <img src="img/FtvCwO2oS5C8wmfS8OuP_whitearroba.png" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
              </div>
              <h1 style="color:#FFFFFF;text-align:center;">RISK</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#3F82F2;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/8xozpBMSHeH2ju5DM8vA_hp-android_smartphone.svg" style="display: block; width: 100%; height: 50%; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 299.9999694824219px; height: 53.99999237060547px;"></div>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:19px;">@RISK is the first app designed to locate social services at the touch of your smartphone base on your location.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#3F82F2;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/YsyX5xrwRej2XyPwt9dX_images.png" style="display: block; width: 100%; height: 50%; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 299.9999694824219px; height: 53.99999237060547px;"></div>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:19px;">Simply scroll and pick your service</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#3F82F2;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/AUXRDA6GQVKkmSnjfbbK_smartphone-google-maps-600.png" style="display: block; width: 100%; height: 50%; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 299.97918701171875px; height: 16.979167938232422px;"></div>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:19px;">@Risk will locate the nearest location in your area using your location via google maps.</p>
              </div>
              <div class="spacer" style="width: 300px; height: 17px;"></div>
              <a ui-sref="servicesList" class="button button-balanced  button-block">Let's Get Started</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>