<ion-view title="Services List" hide-back-button="true" style="background-color:#3F82F2;">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-thumbnail-left" ui-sref="domesticViolenceServices">
        <img src="img/TEqjCmQZ20vmsgMrdVoA_dszx_purple_ribbon_300.jpg">
        <h2>Domestic Violence</h2>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="alcoholicsAnonymous">
        <img src="img/CcXxgeCQzau34lrO9lX1_gi.php.png">
        <h2>Alcoholics Anonymous </h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="socialSecurityOffices">
        <img src="img/SRK7d5jTiOSMlaiLKdlg_logo-fb-share.png">
        <h2>Social Security Admin.</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="foodPantries">
        <img src="img/lx77De71RJGTIX3cyFK4_744-200.png">
        <h2>Food Pantries</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="veteransAffairsHospitals">
        <img src="img/BPH0dZYnRNyIne4YGlLN_f4f6af394e0c669ea0f6a867dfecfcfe_veterans-affairs-veterans-administration-clipart_808-808.jpeg">
        <h2>VA Hospitals</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="womensShelters">
        <img src="img/VxMYht6JTOmYfn9Lr68k_womens-shelter.gif">
        <h2>Women's Shelter</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="freeClinics">
        <img src="img/up46nWHQRO3N8xje6afA_13501_logo1.jpg">
        <h2>Free Clinics</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="poisonControl">
        <img src="img/nvmsVqupQYioxVluEkRx_mr-yuck-713258.jpg">
        <h2>Poison Control</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="halfwayHouse">
        <img src="img/1AK8qqRWQkuyIy0ZqzZZ_halfway-house.png">
        <h2>Half-way Houses</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="homelessShelters">
        <img src="img/2cNwgILyQpaZdKv3q2Jm_de16a6287033a97beaeb3bf5761f8ad3_emergency-shelter-clipart-homeless-shelter-clipart_479-453.png">
        <h2>Homeless Shelters</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="salvationArmy">
        <img src="img/Ckhm3CWRRhatBtaEdkIw_The_Salvation_Army.svg.png">
        <h2>Salvation Army</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="policeDepartments">
        <img src="img/43dYWVRlTv6ceuLPFRpD_2a41a58dd4accaabad4af8fabc718c98.png">
        <h2>Police Depts.</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="hospitals">
        <img src="img/rh2s0aJURzm1Q7lsqivS_LiKknydnT.jpg">
        <h2>Hospitals</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="deptOfMotorVehicles">
        <img src="img/YRlmwmuVRJ6yqgyxYTLj_d2744a858dde923fee51e0020673c159_car-icon-mdpng-car-symbol-clipart_297-249.png">
        <h2>Dept. of Motor Vehicles</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="fireDepartments">
        <img src="img/e39jkSyoRMyq0qH46QjV_6747aed9a3339e6c32c09cd486250dc8_fire-department-logo-clipart-fire-department-symbols-clip-art_500-500.jpeg">
        <h2>Local Fire Dept.</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>